{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Parolni o‘zgartirish</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Ishla</h1>
            <nav>
                <ul>
                    <li><a href="/api/base/">Home</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a></li>
                    {% endif %}

                    <li><a href="{% url 'profile' %}">Profilni qorish</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="login-container">
        <h2>🔑 Parolni o‘zgartirish</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Eski parol</label>
                {{ form.old_password }}
            </div>
            <div class="form-group">
                <label>Yangi parol</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label>Yangi parolni tasdiqlang</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn">Saqlash</button>
        </form>
    </div>
</body>

</html>