{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Ishla</h1>
            <nav>
                <ul>
                    <li><a href="/api/base/">Home</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a></li>
                    {% endif %}

                    <li><a href="{% url 'profile' %}">Profilni qorish</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h1>Регистрация</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="error">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>

</html>