{% load static %}

<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'companies.css' %}">
  <title>{{ company.name }}</title>
</head>

<body>
  <h2>{{ company.name }}</h2>

  {% if company.logo %}
  <img src="{{ company.logo.url }}" width="120" alt="{{ company.name }} logotipi"><br>
  {% endif %}

  <p>{{ company.description }}</p>

  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
  <a href="{% url 'company_edit' company.pk %}">✏️ Tahrirlash</a>
  <a href="{% url 'company_delete' company.pk %}">🗑️ O‘chirish</a>
  {% elif request.user.is_employer and company.owner == request.user %}
  <a href="{% url 'company_edit' company.pk %}">✏️ Tahrirlash</a>
  <a href="{% url 'company_delete' company.pk %}">🗑️ O‘chirish</a>
  {% endif %}
  {% endif %}
  <!-- {{ request.user }}
  {{ request.user.is_staff }}
  {{ request.user.is_superuser }} -->

  <h3>Вакансии компании:</h3>
  {% for job in company.job_set.all %}
  <div class="job-item">
    <h4>{{ job.title }}</h4>
    <p>{{ job.job_type }} | {{ job.salary_min }} - {{ job.salary_max }}</p>
  </div>
  {% empty %}
  <p>Вакансий пока нет</p>
  {% endfor %}

  <a href="{% url 'company_list' %}">⬅ Qaytish</a>

</body>

</html>