{% load static %}

<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'companies.css' %}">
  <title>Kompaniyalar ro‘yxati</title>
</head>

<body>
  <h2>Kompaniyalar ro‘yxati</h2>

  <ul>
    {% for company in companies %}
    <li>
      <a href="{% url 'company_detail' company.pk %}">{{ company.name }}</a>
    </li>
    {% empty %}
    <li>Kompaniyalar yo‘q</li>
    {% endfor %}
  </ul>

  {% if request.user.is_authenticated %}
  {% if request.user.is_staff or request.user.is_superuser or request.user.is_employer %}
  <a href="{% url 'company_create' %}" class="btn">➕ Kompaniya qo‘shish</a>
  {% endif %}
  {% endif %}

</body>

</html>